<h1>Add a Pirate</h1>

<form action="/pirates" method="post">
  <label for="pirate_name" type="text">Pirate Name: </label><input id="pirate_name" type="text" name="pirate[name]">
  <label for="pirate_weight" type="text">Pirate Weight: </label><input id="pirate_weight" type="text" name="pirate[weight]">
  <label for="pirate_height" type="text">Pirate Height: </label><input id="pirate_height" type="text" name="pirate[height]">
  <label for="ship_name_1" type="text">1st Ship's Name: </label><input id="ship_name_1" type="text" name="pirate[ships][][name]">
  <label for="ship_type_1" type="text">1st Ship's Type: </label><input id="ship_type_1" type="text" name="pirate[ships][][type]">
  <label for="ship_booty_1" type="text">1st Ship's Booty: </label><input id="ship_booty_1" type="text" name="pirate[ships][][booty]">
  <label for="ship_name_2" type="text">2nd Ship's Name: </label><input id="ship_name_2" type="text" name="pirate[ships][][name]">
  <label for="ship_type_2" type="text">2nd Ship's Type: </label><input id="ship_type_2" type="text" name="pirate[ships][][type]">
  <label for="ship_booty_2" type="text">2nd Ship's Booty: </label><input id="ship_booty_2" type="text" name="pirate[ships][][booty]">
  <input type="submit" value="Submit">
</form>
