<h1>Make your form here</h1>
<form method="POST" action="/pirates">

  <label for="name">Name:</label>
  <input type="text" name="pirate[name]" id="name">
  <br>
  <label for="weight">Weight:</label>
  <input type="text" name="pirate[weight]" id="weight">
  <br>
  <label for="type">Type:</label>
  <input type="text" name="pirate[type]" id="type">
  <br>
  <label for="height">Height:</label>
  <input type="text" name="pirate[height]" id="height">
  <br>
  <label for="first_ship">First Ship:</label>
  <input type="text" name="pirate[ships][][name]" id="first_ship">
  <br>
  <label for="first_ship_type">Ship Type:</label>
  <input type="text" name="pirate[ships][][type]" id="first_ship_type">
  <br>
  <label for="first_booty">Booty Attributes:</label>
  <input type="text" name="pirate[ships][][booty]" id="first_booty">
  <br>

  <label for="second_ship">Second Ship:</label>
  <input type="text" name="pirate[ships][][name]" id="second_ship">
  <br>
  <label for="second_ship_type">Ship Type:</label>
  <input type="text" name="pirate[ships][][type]" id="second_ship_type">
  <br>
  <label for="second_booty">Booty Attributes:</label>
  <input type="text" name="pirate[ships][][booty]" id="second_booty">
  <input type="submit" value="SUBMIT!">
</form>
