<h1>Make your form here</h1>

<form class="" action="/pirates" method="post">
  pirate Name <input type="text" name="pirate[name]" value="">
  pirate height <input type="text" name="pirate[height]" value="">
  pirate weight <input type="text" name="pirate[weight]" value="">
  ship1 name <input type="text" id="ship_name_1" name="pirate[ships][][name]" value="">
  ship1 type <input type="text" id="ship_type_1" name="pirate[ships][][type]" value="">
  ship1 booty <input type="text" id="ship_booty_1" name="pirate[ships][][booty]" value="">
  ship2 name <input type="text" id="ship_name_2" name="pirate[ships][][name]" value="">
  ship2 type <input type="text" id="ship_type_2" name="pirate[ships][][type]" value="">
  ship2 booty <input type="text" id="ship_booty_2" name="pirate[ships][][booty]" value="">
  <input type="submit" name="" value="Submit">
</form>
