<h1><%= "#{@pirate.name} is #{@pirate.height} tall and weighs #{@pirate.weight}" %></h1>


<h2><%= "#{@ships[0].name} is a #{@ships[0].type} and is carrying booty of #{@ships[0].booty}" %></h2>


<h2><%= "#{@ships[1].name} is a #{@ships[1].type} and is carrying booty of #{@ships[1].booty}" %></h2>
